@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");


body {
  /* background-color: rgb(5, 238, 199); */
  background-color: rgb(247, 248, 248);
}
* {
  padding: 0px;
  margin: 0px;
  color: #080404;
}
header {
  padding: 20px;
  margin-left: 40px;
  font-style: italic;
  display: flex;
}

.logo {
 padding: 0;
 margin: 0;
 height: 50px;
 width: 80px;
}
.child {
  margin: 0;
  height: 40px;
  width: 40px;
}



nav ul {
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  background-color: rgba(238, 172, 160, 0.74);
  text-transform: capitalize;
  list-style: none;  
}
a:hover {
color: #f7efef;

}
.iframe {
display: flex;
position:absolute;
margin: 80px;




}
.img {
  padding-left: 40%;
  justify-content: left;
  display: flex;
  position: absolute;
  margin-top: -100px;

}
nav {
  width: 50%;
  display: block;
  position: absolute;
  right: 0%;
}
.about-container {
  display: flex;
  padding: 20px;
}
.about {
  display: flex;
  position: relative;
  padding-left: 60%;
  margin-top: -260px;
}


.pricing-container {
    display: flex;
    list-style: circle ;
    margin: 30px;

}

a {
  color: rgb(17, 16, 16);
  text-decoration: none;
}
p {
  padding: 75px;
  font-size: x-large;
  width: 40%;
  text-align: center;
}
 .pricing {
    width: 200px;
    height: 300px;
    margin: 50px;
}
h2{
    margin-bottom: 30px;
}
.contact-container {
   display: flex;
   font: 1em sans-serif;
   padding: 80;
    margin: 50px;

}
.contact {
    display: inline-flexbox;
    box-shadow: none;
    padding-left: 100px;
   
}
textarea{
    display: flex;
    box-sizing: content-box;
    border-radius: 10px;
    margin: 30px;
}
.input {
    display: flexbox;   
    width: 100px;
    height: 100px;

}

.carousel {
  position: relative; 
  height: 400px;
  width: 50%;
  margin: 60px auto;
    
}

.carousel_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
 }


.carousel_box-container {
 position: relative; 
 height: 100%;
 overflow: hidden;
  
}
.carousel_box {
  padding: 0;
  margin: 0;
  list-style: none;
  transition: transform 250ms ease-in-out;
}


.carousel_slide {
 position: absolute;
 top: 0;
 bottom: 0;
 width: 100%;

}
.carousel_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  margin: -50px;
  cursor: pointer;

}
.carousel_button--lefft {
left: -60%;
}

.carousel_button--right {
right: -20px;
}

.carousel_nav {
display: flex;
justify-content: center;
padding: 10px 0;
}

.carousel_indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 20px;
  background: black;
  margin: 0 12px;
}

.carousel_indicator.current-slide {
  background: gray;
}


.film-container {
display: flex;
position: relative;
width: 50vw;
min-height: 100vh;
right: -50%;
rotate: 30deg;
justify-content: space-between;


}
.film {
  height: 150px;
  width: 100%;
  background-color: black;
  position: absolute;
  flex-direction: row;
display: flex;
justify-content: space-evenly;
  align-items: center;


}
.teeth {
  height: 6%;
  width: 100%;
  position: absolute;
  background-image: repeating-linear-gradient(90deg,white 0 4px, white 4px 10px, black 10px 40px);
  
}

.film img {
  
  height: 70%;
  aspect-ratio: 1;
 border: 3px solid white;
  
 

}





