@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");

header {
  padding: 50px;
  margin-left: 80px;
  font-style: italic;
}

body {
  /* background-color: rgb(5, 238, 199); */
  background-color: aliceblue;
}
* {
  padding: 0px;
  margin: 0px;
  color: #080404;
}

ul {
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.74);
  text-transform: capitalize;
  list-style: none;
  
}
nav {
  width: 50%;
  display: block;
  position: absolute;
  right: 0%;
}

.pricing-container {
    display: flex;
    list-style: circle ;
    margin: 30px;

}

a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
p {
  padding: 100px;
}
 .pricing {
    width: 200px;
    height: 300px;
    margin: 50px;


}
h2{
    margin-bottom: 30px;
}
.contact-container {
   display: flex;
   font: 1em sans-serif;
   padding: 80;
    margin: 50px;

}
.contact{
    display: inline-flexbox;
    box-shadow: none;
    padding-left: 100px;
   
}
textarea{
    display: flex;
    box-sizing: content-box;
    border-radius: 10px;
    margin: 30px;
}
button{
    display: flexbox;
    background-color: blueviolet;
    
    width: 100px;
    height: 30px;
}

 

.slider div{
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: #c50d0d;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.slides {
  display: flex;
  
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  
  
  
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}