@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");

header {
  padding: 50px;
  margin-left: 80px;
  font-style: italic;
}

body {
  background-color: rgb(5, 238, 199);
}
* {
  padding: 0px;
  margin: 0px;
  color: #080404;
}

ul {
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.74);
  text-transform: capitalize;
  list-style: none;
}
.pricing-container {
    display: flex;
    list-style: circle ;
    margin: 30px;

}

a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
p {
  padding: 100px;
}
 .pricing {
    width: 200px;
    height: 300px;
    margin: 50px;


}
h2{
    margin-bottom: 30px;
}
.contact-container {
   display: flex;
   font: 1em sans-serif;
   padding: 80;
    margin: 50px;

}
.contact{
    display: inline-flexbox;
    box-shadow: none;
    padding-left: 100px;
   
}
textarea{
    display: flex;
    box-sizing: content-box;
    border-radius: 10px;
    margin: 30px;
}
button{
    display: flexbox;
    background-color: blueviolet;
    
    width: 100px;
    height: 30px;
}

